<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BamJun's playground</title>
    <script src="/path/to/htmx.min.js" defer></script>
</head>

<body>

    <button hx-get="https://github.com/bamjun/">bamjun's github</button>


    <button hx-get="https://bamjun.github.io/PT_sheep_javascript/">sheep</button>

    <button hx-get="https://bamjun.github.io/PT_wave_javascript/">wave</button>

</body>

</html>